{
  "comments": false,
  "env": {
    "main": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": "commonjs",
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    },
    "renderer": {
      "presets": [["@babel/preset-env"]]
    },
    "web": {
      "presets": [["@babel/preset-env"]]
    }
  },
  "plugins": ["@babel/plugin-transform-runtime"]
}
